<?xml version="1.0" ?>
<robot name="quadro" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <ros2_control name="motor_controller" type="system">
    <hardware>
      <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
      <param name="can">can0</param>
    </hardware>

    <joint name="br_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">9</param>
    </joint>

    <!-- <transmission name="br1_trans">
      <plugin>transmission_interface/SimpleTransmission</plugin>

      <actuator name="motor" role="motor">
      </actuator>

      <joint name="BR1" role="BR1">
        <mechanical_reduction>8.0</mechanical_reduction>
        <offset>0.0</offset>
      </joint>
    </transmission> -->
  </ros2_control>

</robot>