<?xml version="1.0" ?>
<robot name="quadro" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <ros2_control name="motor_controller" type="system">
    <hardware>
      <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
      <param name="can">can0</param>
    </hardware>

    <joint name="fl_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">0</param>
    </joint>

    <joint name="fl_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">1</param>
    </joint>

    <joint name="fl_l4_l3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">2</param>
    </joint>
    
    <joint name="fr_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">3</param>
    </joint>

    <joint name="fr_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">4</param>
    </joint>

    <joint name="fr_l4_s3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">5</param>
    </joint>

    <joint name="bl_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">6</param>
    </joint>

    <joint name="bl_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">7</param>
    </joint>

    <joint name="bl_l4_l3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">8</param>
    </joint>

    <joint name="br_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">9</param>
    </joint>

    <joint name="br_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">10</param>
    </joint>

    <joint name="br_l4_l3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="node_id">11</param>
    </joint>
    <!-- <joint name="br_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="br_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="br_m3_s3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="bl_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="bl_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="bl_m3_s3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="fr_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="fr_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="fr_m3_s3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  

    <joint name="fl_m1_s1">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="fl_m2_s2">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="fl_m3_s3">
      <command_interface name="position">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint> -->
  </ros2_control>

</robot>